{% load staticfiles %}
<html>

<head>
    <title>Peace-athon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!--  <link rel="stylesheet" href="{% static 'css/blog.css' %}">-->
    <link href="https://fonts.googleapis.com/css?family=Mogra" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="" class="navbar-brand">Peace-Athon.</a></li>
                <li><a class="navbar-link" href="">ADMIN</a></li>
                <li><a class="navbar-link" href="">REGISTER </a></li>
            </ul>
        </div>
    </nav>
    <!--  <div class="page-header">
            <center>
                <h1>{{text}}</h1></center>
            <center>
                <h1><a href="">LOGIN/SIGNUP</a></h1>
                <center>
        </div> 
        <div class="conatiner" style="text-align:center">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <p>Links</p>
                    <ul>
                        <li>
                            <a href="">LOGIN PAGE</a>
                        </li>
                        <li>
                            <a href="">Check Who IS logged IN</a></li>
                        <li>
                            <a href="">User List</a>
                        </li>
                        <li>
                            <a href="">Form For the DataBase</a>
                        </li>
                        <br>
                    </ul>
                </div>
            </div>
        </div> -->
    <hr>
    <center>
        <div class="jumbotron">
            <form action="" method="POST" class="image-form">{% csrf_token %} {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
        <center>
            <br> {% block content %} {% endblock %}
</body>

</html>

